- content_for :page_specific_javascripts do
  = page_specific_javascript_tag('lib/ace.js')

.snippet-form-holder
  = form_for @snippet, url: url,
             html: { class: "snippet-form js-requires-input js-quick-submit common-note-form" },
             data: { markdown_version: @snippet.cached_markdown_version } do |f|
    = form_errors(@snippet)

    .form-group.row
      = f.label :title, class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_field :title, class: 'form-control', required: true, autofocus: true

    = render 'shared/form_elements/description', model: @snippet, project: @project, form: f

    = render 'shared/visibility_level', f: f, visibility_level: @snippet.visibility_level, can_change_visibility_level: true, form_model: @snippet

    .file-editor
      .form-group.row
        = f.label :file_name, "File", class: 'col-form-label col-sm-2'
        .col-sm-10
          .file-holder.snippet
            .js-file-title.file-title
              = f.text_field :file_name, placeholder: "Optionally name this file to add code highlighting, e.g. example.rb for Ruby.", class: 'form-control snippet-file-name'
            .file-content.code
              %pre#editor= @snippet.content
              = f.hidden_field :content, class: 'snippet-file-content'
    - if params[:files]
      - params[:files].each_with_index do |file, index|
        = hidden_field_tag "files[]", file, id: "files_#{index}"

    .form-actions
      - if @snippet.new_record?
        = f.submit 'Create snippet', class: "btn-success btn"
      - else
        = f.submit 'Save changes', class: "btn-success btn"

      - if @snippet.project_id
        = link_to "Cancel", project_snippets_path(@project), class: "btn btn-cancel"
      - else
        = link_to "Cancel", snippets_path(@project), class: "btn btn-cancel"
